.container {
	@include full-screen();
	@include horizontal-align();
	max-width: 1024px;
	position: absolute;
}

.center {
	text-align: center;
}

.genre-select{
	height: 100px;
}

.full-width {
	width: 100%;
}

.poster-container {
	position: relative;
}

.movie-poster {
	height: 100px;
	width: auto;
	float: left;
	padding: 10px;
}

.no-show {
	display: none;
	line-height: 0;
	font-size: 0.1px;
}

.detail-movie-poster {
	height: 300px;
	width: auto;
	float: left;
	padding: 10px;
}

.awards {
	font-style: italic;
}

ul.list {
	li {
		width: 100%;
		padding: 20px;
		background: $light-blue-gray;
	}
}

.poster-tile {
	height: 300px;
	width: auto;
	float: left;
	// padding: 5px;

	a {
		img {
			@include vertical-align;

			height: 280px;
			width: auto;
		}

	}
}

// img.poster {
// 	@include vertical-align();
// 	height: auto;
// 	width: 90%;
// }

.prev {
	float: left;
}

.next {
	float: right;
}

.horizontal-align {
	@include horizontal-align();
}