.container {
	@include full-screen();
	@include horizontal-align();
	max-width: 1024px;
	position: absolute;
}

.center {
	text-align: center;
}

.full-width {
	width: 100%;
}

.movie-poster {
	height: 100px;
	width: auto;
	float: left;
	padding: 10px;
}

.detail-movie-poster {
	height: 300px;
	width: auto;
	float: left;
	padding: 10px;
}

.awards {
	font-style: italic;
}

ul.list {
	li {
		width: 100%;
		padding: 20px;
		background: $light-blue-gray;
	}
}

.poster-tile {
	height: 350px;
	float: left;
}

img.poster {
	@include vertical-align();
	height: auto;
	width: 90%;
}

.prev {
	float: left;
}

.next {
	float: right;
}

.horizontal-align {
	@include horizontal-align();
}