<div class="row horizontal-align center genre-select">
	<a  class="button" ng-click="select_genre('')">
		All	
	</a>

	<a  class="button" ng-click="select_genre('Action')">
		Action
	</a>
                                                                  
	<a  class="button" ng-click="select_genre('Adventure')">
		Adventure
	</a>

	<a  class="button" ng-click="select_genre('Animation')">
		Animation
	</a>

	<a  class="button" ng-click="select_genre('Biography')">
		Biography	
	</a>

	<a  class="button" ng-click="select_genre('Crime')">
		Crime	
	</a>

	<a  class="button" ng-click="select_genre('Comedy')">
		Comedy
	</a>

	<a  class="button" ng-click="select_genre('Drama')">
		Drama
	</a>
	
	<a  class="button" ng-click="select_genre('Family')">
		Family
	</a>
	
	<a  class="button" ng-click="select_genre('Fantasy')">
		Fantasy
	</a>
	
	<a  class="button" ng-click="select_genre('Film-Noir')">
		Film-Noir
	</a>
	
	<a  class="button" ng-click="select_genre('History')">
		History
	</a>

	<a  class="button" ng-click="select_genre('Horror')">
		Horror
	</a>

	<a  class="button" ng-click="select_genre('Music')">
		Music
	</a>

	<a  class="button" ng-click="select_genre('Musical')">
		Musical
	</a>

	<a  class="button" ng-click="select_genre('Mystery')">
		Mystery
	</a>

	<a  class="button" ng-click="select_genre('Romance')">
		Romance
	</a>

	<a  class="button" ng-click="select_genre('Sci-Fi')">
		Sci-Fi
	</a>

	<a  class="button" ng-click="select_genre('Sport')">
		Sport
	</a>

	<a  class="button" ng-click="select_genre('Thriller')">
		Thriller
	</a>

	<a  class="button" ng-click="select_genre('War')">
		War
	</a>

	<a  class="button" ng-click="select_genre('Western')">
		Western
	</a>

</div>

<div class="row poster-container center horizontal-align">
	<div class="columns center small-6 medium-3 large-2 poster-tile" ng-repeat="movie in movies | filter:genreType">
	<a ng-href="#/details/{{movie.rank}}">
		<img ng-src="./data/images/{{movie.imdbID}}.jpg" class="poster" alt="poster">
		<ul class="no-show">
			<li ng-repeat="gen in movie.genre">
				{{gen}}
			</li>
		</ul>
	</a>
	</div>
</div>